<section class="form-registro">
    <h1 align="center">Registrar Personal</h1>
    <section class="form-registro1">
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Identificacion:</label>
              <div class="col-sm-8">
            <input type="text" name="identificacion" id="identificacion" [(ngModel)]="persona.identificacion" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Nombres:</label>
              <div class="col-sm-8">
            <input type="text" name="nombres" id="nombre" [(ngModel)]="persona.nombres" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>
        
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Apellidos:</label>
              <div class="col-sm-8">
            <input type="text" name="apellidos" id="apellido" [(ngModel)]="persona.apellidos"class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Edad:</label>
              <div class="col-sm-8">
            <input type="number" name="edad" id="edad" [(ngModel)]="persona.edad" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>
        
        <div class="col-xs-10 col-sm-8 col-md-8">
          <div class="form-group row">
              <label for="nombre" class="col-form-label col-sm-4">Sexo:</label>
            <div class="col-sm-8">
          <input type="text" name="sexo" id="sexo" [(ngModel)]="persona.sexo" class="form-control" placeholder="" tabindex="1">
            </div>
          </div>
      </div>
      
      
       </section>
       <button type="button" class="btn btn-danger  btn-lg btn-block" (click)="add()">Registrar</button>
    <section class="form-registro2">
      <div class="col-xs-10 col-sm-8 col-md-8">
        <div class="form-group row">
            <label for="nombre" class="col-form-label col-sm-4">Telefono:</label>
          <div class="col-sm-8">
        <input type="text" name="telefono" id="telefono" [(ngModel)]="persona.telefono" class="form-control" placeholder="" tabindex="1">
          </div>
        </div>
    </div>  
        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">E-mail:</label>
              <div class="col-sm-8">
            <input type="text" name="email" id="email" [(ngModel)]="persona.email" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Estado Civil:</label>
              <div class="col-sm-8">
            <input type="text" name="estadoCivil" id="estadoCivil" [(ngModel)]="persona.estadoCivil" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>

        <div class ="col-xs-10 col-sm-8 col-md-8">
            <div class ="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Pais de Procedencia:</label>
              <div class="col-sm-8">
            <input type="text" name="paisProcedencia" id="paisProcedencia" [(ngModel)]="persona.paisProcedencia" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>

        <div class="col-xs-10 col-sm-8 col-md-8">
            <div class ="form-group row">
                <label for="nombre" class="col-form-label col-sm-4">Nivel Educativo:</label>
              <div class="col-sm-8">
            <input type="text" name= "nivelEducativo" id="nivelEducativo" [(ngModel)]="persona.nivelEducativo" class="form-control" placeholder="" tabindex="1">
              </div>
            </div>
        </div>
        <button type="button" class="btn btn-danger btn-lg btn-block" (click)="add()">Cancelar</button>
    </section>
    
</section>
