<div class="Sidebar" >
    <div align="center">
        <img src="../../assets/Imagenes/logo.png" class="profile_image" alt="" style="width: 100px; height: 100px;">
        <h4>ADMINISTRADOR</h4>
    </div>
    <p>
        <a data-toggle="collapse"
        data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta">
        <i class="far fa-address-book"></i><span>Encuestas</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapseEncuesta">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" [routerLink]='["/conocimientos"]'>
            <span class="fas fa-users"></span>Conocimientos
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" [routerLink]='["/actitudes"]'>
            <span class="fas fa-users"></span>Actitudes
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseEncuesta" aria-expanded="false" aria-controls="collapseEncuesta" [routerLink]='["/practicas"]'>
            <span class="fas fa-users"></span>Practicas
        </button>
        <hr>
    </div>
    <p>
        <a data-toggle="collapse"
        data-target="#collapseRestaurante" aria-expanded="false" aria-controls="collapseRestaurante">
        <i class="far fa-address-book"></i><span>Restaurantes</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapseRestaurante">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseRestaurante" aria-expanded="false" aria-controls="collapseRestaurante" [routerLink]='["/restaurantes"]'>
            <span class="fas fa-users"></span>Registrar Restaurante
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseRestaurante" aria-expanded="false" aria-controls="collapseRestaurante">
            <span class="fas fa-users"></span>Consultar Restaurante
        </button>
        <hr>
    </div>
    <p>
        <a data-toggle="collapse"
        data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal">
        <i class="far fa-address-book"></i><span>Personal</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapsePersonal">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal" [routerLink]='["/personal"]'>
            <span class="fas fa-users"></span>Registrar Personal
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapsePersonal" aria-expanded="false" aria-controls="collapsePersonal" [routerLink]='["/personaConsulta"]'>
            <span class="fas fa-users"></span>Consultar Personal
        </button>
        <hr>
    </div>
    <p>
        <a data-toggle="collapse"
        data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes">
        <i class="far fa-address-book"></i><span>Examenes</span></a>
    </p>
    <div class="collapse Sub-Menu" id="collapseExamenes">
        <hr style="background-color: rgb(250, 81, 81);">
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes" [routerLink]='["/examenes"]'>
            <span class="fas fa-users"></span>Registrar Examenes
        </button>
        <button class="btnbarra" style="width: 100%; " type="bootton" data-toggle="collapse"
            data-target="#collapseExamenes" aria-expanded="false" aria-controls="collapseExamenes" >
            <span class="fas fa-users"></span>Consultar Examenes
        </button>
        <hr>
    </div>
    
    <a [routerLink]='["/reportes"]'><i class="fas fa-cog"></i><span>Reportes</span></a>
    
</div>

<router-outlet></router-outlet>